
<%- include('../partials/header.ejs') %>

    
        <%- include('../partials/navbar.ejs') %>

            <h1 style="margin-left:20vw">Help Your Juniors by Sharing</h1>
            <div class="about content container">
                <h2>About Us</h2>
                <p>There is a simple way forward, and that is to be an open book. Tell the candidate when to show up,
                    who they'll meet with
                    and why, what your overall interview process looks like and where they stand, and please...tell them
                    what questions you
                    plan to ask them in the interview ahead of time!
                    <br><br>
                    It’s a simple change, but it can be hard to make. For one thing, you'll be giving candidates an
                    advantage that you never
                    had back when you were looking for a job. Remember? No one ever told you what you'd be asked in an
                    interview or gave you
                    the chance to focus your preparation and put your best foot forward. But there’s no need to
                    perpetuate bad behavior—even
                    if everyone else chooses to. The past is the past, candidates are people who deserve respect and
                    transparency, and
                    you'll have a better hiring process and make better hiring decisions if you make the change.
                    Win-win.
                    <br><br><br><br><br>
                    The other issue you’ll confront is that being transparent means a bit more work. You’ll need to plan
                    a hiring process
                    that you can confidently explain to candidates and choose thoughtful, job-related questions before
                    the interview. Now,
                    to be clear, you should be doing this already, but when you're stretched for time and have competing
                    priorities, it's
                    tough. The good news is you will save time in the long run by planning: you can, and should, be
                    using the same process
                    and same questions with each candidate you interview for a given job.
                    <br> <br><br>
                    If you can put in the work and let go of the past, having a transparent interview process is the way
                    to go. The most
                    immediate benefit, assuming your goal is to make the best hire, is getting higher quality signal on
                    a candidate’s
                    capabilities and insight into the most relevant experiences they’ve had in the past. All candidates
                    will be better
                    prepared and less anxious and have a fair chance to put their best foot forward. If you’re not
                    convinced yet, here’s a
                    full rundown of why it’s the right call:
                    <br><br>
                    It creates a level and fair playing field for all candidates. Every candidate has the same
                    information. There are no
                    favorites, and having the bad fortune of preparing for the wrong things is no longer a factor.
                    <br><br>
                    It shows candidates you’re empathetic. It tells them you know looking for a job is not fun, and
                    you’re doing what you
                    can reduce the pain.
                    <br><br>
                    It levels the power dynamic between candidate and company. It signals humility and respect for the
                    candidate and creates
                    a positive place to start building a relationship.
                    <br><br>
                    It reduces the candidate's stress. Allowing candidates to prepare and not putting them on the spot
                    will meaningfully
                    reduce their anxiety and give you a clearer picture of who they are.
                    <br><br>
                    It reduces interviewer stress and boosts confidence. Some interviewers experience social anxiety in
                    interviews, and
                    others feel awkward or uncomfortable surprising candidates with tough questions.
                    <br><br>
                    This allows an
                    interviewer to focus on
                    the candidate's answers instead of what to questions to ask.
                    <br><br>
                    It helps the candidate understand what you’re looking for. By telling candidates what you're going
                    to ask, you're giving
                    them insight into the skills or values you think they'll need to succeed in the role.
                    <br><br>
                    It leads to more thoughtful answers. Candidates have the time and space they need to prepare. They
                    can brush up on
                    skills that may have atrophied but could quickly re-learn. They’ll also be more likely to recall
                    meaningful experiences
                    that provide the best evidence of their capabilities.
                    <br><br>
                    It makes your company stand out. Most companies aren’t candid with their interview process. Being
                    transparent signals
                    that you’re fair and empathetic, as mentioned above, and thoughtful, organized, and professional.
                    <br> <br> <br> <br>
                    When I started doing transparent interviews a few years ago, it initially felt a tad awkward, “Okay,
                    you know the
                    questions I'm going to ask; now I'm going to ask them.“ But after the first few interviews, the
                    awkwardness quickly
                    faded, and I immediately regretted not making the switch a decade ago. If you have important
                    decisions to make in a
                    meeting, you’re sure to make an agenda, share it, and confirm that people attending the meeting know
                    what’s expected of
                    them. Why should a job interview be any different? I get way more out interviews today than I ever
                    have, and candidates
                    love being treated with the respect they deserve.
                </p>
            </div>
            <br><br>
            
            <%- include('../partials/footer.ejs') %>

 